.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  
  @include respond(phone) {
    margin-top: 0;
    flex-direction: column-reverse !important;
    height: 100vh;
  }
}

.about_container {
  width: 30%;
  margin-right: 10rem;

  @include respond(phone) {
    width: 80%;
    margin: 3.5rem auto 0 auto;
    text-align: center;
  }
}

.logo {
  @include respond(phone) {
    width: 250px;
  }
}

.logo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-paint-brush {
 position: absolute;
 font-size: 3rem;
 top: 4%;
 left: 4%;
 border-radius: 50%;
 padding: 1rem;
 cursor: pointer;

 &:hover {
   opacity: .8;
 }
 @include respond(phone) {
  top: 2%;
  font-size: 2rem;
  }
}

.logo_image {
  background-image: url('https://i.imgur.com/xHDWyuv.png');
  width: 350px;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  @include respond(phone) {
    width: 250px;
    height: 250px;
  }
}
