.main_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech_container {
  display: flex;
  align-items: stretch;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 10rem auto;

  @include respond(phone) {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    width: 100%;
  }
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &--icon:not(:last-child) {
    margin-right: 1rem;
  }

  &--icon {
    font-size: 7rem;
    
    @include respond(phone) {
      font-size: 3rem;;
    }
  }
}

.git_container {
  background-color: rgba(99, 98, 98, 0.09);
  box-shadow: 0 1rem 1rem rgba(0,0,0, .3);
  width: 30%;
  padding: 2rem;
  @include respond(phone) {
    width: 80%;
  }
}

.github__action {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;


  &--item {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Montserrat';
    overflow: hidden;
    margin-bottom: 0;
    padding: .3rem;
    text-decoration: none;
  }

  &:nth-child(even) {
    background-color: #2e3744;
  }

  &:nth-child(odd) {
    background-color: rgba($primary-green, .5)
  }
}

.github-link-alt {
  font-size: 1rem;
  margin-left: 2rem;
}

.technology {
  width: 30%;
  margin-right: 10rem;
  @include respond(phone) {
    width: 80%;
    margin-right: 0rem;
  }
}

.tech_heading {
 text-align: center;
 margin-bottom: 5rem;

  &--text{
    color: $primary-green;
    font-family: 'Montserrat';
    font-size: 5rem;
    letter-spacing: .2rem;
  }
}
